services:
  db:
    image: postgis/postgis:16-3.4
    platform: linux/amd64
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: mcap_query_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

